<md-dialog flex="50">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit</h2>
                <span flex></span>
            </div>
        </md-toolbar>

        <md-dialog-content>

            <md-input-container>
                <label>Firstname</label>
                <input ng-model="patient.firstname">
            </md-input-container>

            <md-input-container>
                <label>Lastname</label>
                <input ng-model="patient.lastname">
            </md-input-container>

            <md-input-container>
                <label>Identiy Card Number</label>
                <input ng-model="patient.identityCardNumber">
            </md-input-container>

            <md-input-container>
                <label>Personal Numerical Code</label>
                <input ng-model="patient.personalNumericalCode">
            </md-input-container>

            <md-input-container>
                <label>Birth Date</label>
                <md-datepicker ng-model="patient.birthDate"></md-datepicker>
            </md-input-container>

            <md-input-container>
                <label>Address</label>
                <input ng-model="patient.address">
            </md-input-container>

        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button class="md-raised" ng-click="update()">Submit</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>