<div ng-controller="secretaryController">
    <md-content layout-padding>

        <h2>Patients</h2>
        <md-input-container>
            <label>Firstname</label>
            <input ng-model="newpatient.firstname">
        </md-input-container>
        <md-input-container>
            <label>Lastname</label>
            <input ng-model="newpatient.lastname">
        </md-input-container>
        <md-input-container>
            <label>Identiy Card Number</label>
            <input ng-model="newpatient.identityCardNumber">
        </md-input-container>

        <md-input-container>
            <label>Personal Numerical Code</label>
            <input ng-model="newpatient.personalNumericalCode">
        </md-input-container>

        <md-input-container>
            <label>Birth Date</label>
            <md-datepicker ng-model="newpatient.birthDate"></md-datepicker>
        </md-input-container>

        <md-input-container>
            <label>Address</label>
            <input ng-model="newpatient.address">
        </md-input-container>
        <md-dialog-actions layout="row">
            <md-button class="md-raised" ng-click="insert()">Insert</md-button>
        </md-dialog-actions>

        <md-list>
            <md-list-item class="md-2-line" ng-repeat="patient in patients">
                <div class="md-list-item-text">
                    <h3>{{patient.firstname}} {{patient.lastname}}</h3>
                    <p>Identity Card: {{patient.identityCardNumber}}</p>
                    <p>Personal numerical code: {{patient.personalNumericalCode}}</p>
                    <p>Birth Date: {{patient.birthDate}}</p>
                    <p>Address: {{patient.address}}</p>
                </div>
                <md-button class="md-raised" ng-click="patientConsultationsDialog($event, patient)">Consultations
                </md-button>
                <md-button class="md-raised" ng-click="editPatientDialog($event, patient)">Edit</md-button>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>

    </md-content>

</div>